:root {
    --primary-color: #0077b6;
    --secondary-color: #d62828;
    --text-color: #e0e0e0;
    --background: #1e1e1e;
    --background-darker: #121212;
    --foreground: rgba(255, 255, 255, 0.05);
    --foreground-dark: rgba(255, 255, 255, 0.1);
    --foreground-light: rgba(255, 255, 255, 0.15);
    --foreground-lighter: rgba(255, 255, 255, 0.2);
}


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    height: 100%;
    margin: 0;
    color: var(--text-color);
    overflow-x: hidden;
    padding-top: 50px;
    background: var(--background);
}

body::before {
    content: "";
    position: fixed;
    top: -20%;
    left: -20%;
    width: 140%;
    height: 140%;
    background-image: url('files/background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: blur(20px);
    z-index: -1;
}

/* Header */
header {
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 20px 20px 20px 20px;
    background: var(--background);
    color: var(--text-color);
    border-radius: 15px;
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 20px var(--background-darker);
    position: sticky;
    top: 0;
}

header img {
    width: 120px;
    border-radius: 50%;
    margin-bottom: -10px;
    box-shadow: 0 0 20px var(--background-darker);
}

/* Navigation */
nav {
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    padding: 10px 15px;
    border-radius: 8px;
    background: var(--foreground);
    backdrop-filter: blur(5px);
}

nav a:hover {
    color: var(--secondary-color);
    background: var(--foreground-dark);
}

/* Sections */
section {
    width: 80%;
    max-width: 800px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    background: var(--background-darker);
    border-radius: 15px;
    box-shadow: 0 4px 15px var(--foreground-dark);
}

.project img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

section:hover {
    transform: scale(1.02);
}

/* Project Cards */
.project-container.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 10px;
    justify-content: center;
    width: 100%;
    max-width: 800px;
}

.project {
    padding: 10px 5px;
    text-align: center;
    background: var(--foreground-dark);
    border-radius: 20px;
    box-shadow: 0 2px 10px var(--foreground-light);
    transition: transform 0.1s ease-in-out;
}

.project h3 {
    margin: 0;
}

.project a {
    display: block;
    padding: 10px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.project:hover {
    transform: scale(1.05);
}

.project a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

.project p {
    font-size: 14px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

a:visited {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: var(--secondary-color);
}

/* Contact Icons */
.contact-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}

.contact-icons a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 40px;
    transition: color 0.3s ease-in-out;
}

contact-icons a:hover {
    color: var(--secondary-color);
}

/* Footer */
footer {
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 10px;
    background: var(--background);
    color: var(--text-color);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px var(--background-darker);
    margin-top: auto;

}

/* Callout Box */
.callout {
    border-left: 4px solid var(--primary-color);
    padding: 10px;
    text-align: left;
    display: inline-block;
    background: var(--background);
    box-shadow: 0 2px 10px var(--background-darker);
}

.callout b {
    color: var(--secondary-color);
}
